<html>
    <head>
        <link rel="stylesheet" type="static/style.css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <!--<div class = 'pane'>-->
            <!--<div class = 'header'>-->
                <!--<h1>{{ restaurant.name }}</h1>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            {% with messages=get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                      <li><strong>{{message}}</strong></li>
                      {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        <!--</div>-->
        {% for i in items %}
        <!--<div>-->
            <p>
                {{i.name}}</br>
                {{i.description}}</br>
                {{i.price}}</br>
                <a href="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Edit</a></br>
                <a href="{{ url_for('delete_menu_item', restaurant_id=restaurant.id, menu_id=i.id) }}">Delete</a></br>
            </p>
        <!--</div>-->
        {% endfor %}
        <a href = '{{url_for('add_new_menu_item', restaurant_id = restaurant.id) }}'>Create New Item</a>
    </body>
</html>