<html>
    <body>
        <h1>Edit menu item</h1>
        <form action="{{ url_for('add_new_menu_item', restaurant_id=restaurant_id )}}" method = 'post'>

            <dl>
            <dt>Name:</dt>
            <dd><input type ='text' size='30' name='name' required></dd>
            <dt>Description:</dt>
            <dd><textarea name = 'description' rows='5' cols='40' required></textarea></dd>
            <dt>Price:</dt>
            <dd><input type = 'text' size = '8' name='price' required></dd>
            <dt>Course:</dt>
            <dd><input type ='radio' name='course' value='Appetizer' checked>Appetizer</dd>
            <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
            <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
            <dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
            </dl>
            <input type='submit' value='Create'>
        </form>
        <a href = "{{url_for('list_menu_items', restaurant_id=restaurant_id )}}">Cancel</a>
    </body>
</html>